<nav class="navbar menu navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
      <a href="#"  ng-link="['Home']"class="navbar-brand">D W D</a>
    </div>
    <div class="navbar-collapse collapse" id="navbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#" ng-link="['Login']">Login</a></li>
        <li><a href="#"  ng-link="['Register']">Register</a></li>
      </ul>
    </div>
  </div>
</nav>
<ng-outlet></ng-outlet>