<div class="row">

<ul id="messages">
  <li ng:repeat="m in s.messages track by $index">
    <strong>{{m.user}} : </strong> - <span>{{m.message}}</span>
  </li>
</ul>
  </di>
<div class="row">
<form ng:submit=s.send(s.msg)>
 

  <div  id="chat" class="input-group">
  <input type="text"  ng-model="s.msg" class="form-control" aria-label="...">
  <div class="input-group-btn">
    <button type="button" class="btn btn-large btn-success" >Send</button>
  </div>
</div>
</form>
  
</div>
