<div class="row">
  <pulse class="pull-right" data="s.buttons.new"></pulse>
  <h1>
  Posts
</h1>
</div>
<div class="row">
  <h2>Search by tags</h2>
  <pulse class="pull-right" data="s.buttons.searchByTags">search</pulse>
  <pulse ng-repeat="t in s.tags" data="t"></pulse>
</div>
<hr>
<div class="postslist">
  <div ng:repeat="p in s.posts" class="row ">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3>{{p.tit}}     
      </h3></div>
      <div class="panel-body">
        <p>
          {{p.txt}}
        </p>
      </div>
      <div class="panel-footer clearfix">
        <a class="btn btn-info pull-right" ui-sref="post({slug:p.slug})"> <i class="fa fa-file" aria-hidden="true"></i>
View Post</a>
         <strong>posted by : <span class="label label-success">{{p.author.email}}</span></strong>
      </div>
    </div>
  </div>
</div>