<h1>
  {{s.post.tit}}
</h1>

<div class="row">
  <div>
  <p> {{s.post.txt}}</p>
  <span class="label label-success">{{s.post.user_id.email}}</span>
  </div>
</div>
<div class="row">
  <pulse data="s.buttons.com"></pulse>
  <hr>
  <module ng:show="s.show" data="s.formComment"></module>
</div>
<div class="row"> 
  <h3>
    Comments
  </h3>
  <div class="comment" ng:repeat="c in s.post.comments">

    <p>
      {{c.txt}}
    </p>
     <hr class="clearfix">
     <div class="row" >
      <strong class="pull-right" >comment by : <span class="label label-success">{{c.author.email}}</span></strong>
    </div>
    <hr class="clearfix">
  </div>
 
</div>