body {
  background: #ddd;
}

header {
  min-height: 100px
}

.userbar {
  padding: 8px 10px 10px
}

.postslist .row {
  margin: 20px 0 10px;
}

body div #chat {
  position: fixed;
  display: table;
  left: 20%;
  width: 60%;
  bottom: 5%;
  border-collapse: separate;
}

#messages {
  max-height: 600px;
  display: block;
  overflow-y: scroll
}

#messages li {
  padding: 5px 10px;
}

#messages li:nth-child(odd) {
  background: #eee;
}
.comment{
  padding:5px 8px;
}