<button  class="btn btn-{{$ctrl.data.color}}" ng:click="$ctrl.data.action()" ng:disabled="$ctrl.data.disabled">
<i ng:if="$ctrl.data.icon" class="fa fa-{{$ctrl.data.icon}}"></i> {{$ctrl.data.label}}</button>