<div>

  <div class="alert alert-{{$ctrl.data.color}}" ng:if="$ctrl.data.messages">
    <div ng-if="$ctrl.data.messages | isArray">
      <p ng:repeat="m in $ctrl.data.messages"><i ng:if="$ctrl.data.icon" class="fa fa-{{$ctrl.data.icon}}"></i> {{m}}</p>

    </div>

    <div ng-if="$ctrl.data.messages | isString">
      <p ng-if="$ctrl.data.messages "><i ng:if="$ctrl.data.icon" class="fa fa-{{$ctrl.data.icon}}"></i> {{$ctrl.data.messages}}</p>

    </div>

    <ul ng-if="$ctrl.data.errors | isArray">
      <li ng:repeat="m in $ctrl.data.errors"> {{m}}</li>

    </ul>
  </div>
</div>