<nav class="navbar menu navbar-default navbar-fixed-top">
  
  <div class="container">
    
    <div class="navbar-header">
      <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
      <a href="#" ui-sref="home" class="navbar-brand">D W D</a>
    </div>

    <div ng:if="$ctrl.logged()" class="navbar-collapse collapse" id="navbar">
      <div class="clearfix">
        <div class="btn-group-inline userbar pull-right ">
          <usermenu></usermenu>
          <pulse data="$ctrl.buttons.logout"></pulse>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#" ui-sref="posts">Posts</a></li>
        <li><a href="#" ui-sref="chat">Chat</a></li>
        </ul>
      </div>
    </div>
    
    <div ng:if="!$ctrl.logged()" class="navbar-collapse collapse" id="navbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#" ui-sref="login">Login</a></li>
        <li><a href="#" ui-sref="register">Register</a></li>
      </ul>
    </div>
    
  </div>
  
</nav>