<div>
  <form name="form" novalidate class="form-{{$ctrl.data.name}}">
    <div class="panel panel-{{$ctrl.data.color}}">
      <div class="panel-heading">
        <div class="panel-title">
          {{$ctrl.data.title}}
        </div>
      </div>
      <div class="panel-body">
        <div class="form-group" ng:repeat="i in $ctrl.data.fields">
          <label>{{i.label}}</label>
          <input ng:if="!i.list" type="{{i.type}}" class="form-control" ng:model="$ctrl.data.data[i.name]" ng:required="i.required">
          <input ng:if="i.list" type="{{i.type}}" class="form-control" ng:model="$ctrl.data.data[i.name]" ng:required="i.required" ng:list="i.list">
        </div>
         <div class="form-group" ng:repeat="i in $ctrl.data.txts">
          <label>{{i.label}}</label>
          <textarea type="{{i.type}}" class="form-control" ng:model="$ctrl.data.data[i.name]" ng:required="i.required"></textarea>
        </div>
        <div ng:if="$ctrl.data.selects" class="form-group">
          <label for="select">Select Role</label>
          <select class="form-control" id="select" ng-options="item.value as item.name for item in $ctrl.data.selects" ng-model="role"></select>
        </div>
        <div class="form-group">
          <alert data="$ctrl.data.alerts"></alert>
        </div>
      </div>
      <div class="panel-footer">
        <button class="btn btn-{{$ctrl.data.submit.color}}" ng:disabled="form.$invalid" ng:click="$ctrl.data.action()">
        <i class="{{$ctrl.data.submit.icon}}"></i> {{$ctrl.data.submit.label}}
      </button>
        <pulse ng:repeat="i in $ctrl.data.buttons" data="i"></pulse>
      </div>
    </div>
  </form>
</div>